.scene {
width: 200px;
height: 260px;
margin: auto;
border: 1px solid #CCC;
perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1000ms linear;
    transform-style: preserve-3d;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card__face--front {
    background-color: red;
}

.card__face--back {
    background-color: blue;
    transform: rotateY(180deg);
}